
/* 
styles for my mulch calculator
Chase Tramel aka Kasey Chase Littlepaws | https://github.com/ChaseLittlepaws
*/

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible;
}

body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible';
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin: auto;
    display: block;
}

label {
    padding: 6px 10px;
    margin: auto;
    display: block;
    width: 50%; 
}

input{
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 12px;
    display: block;
    width: 50%;
}

input:focus {
    border: 5px solid #a7a7a7;
}

input[type=button] {
    background-color: #4b9fe3;
    border: none;
    border-radius: 12px;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    display: block;
    width: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=button]:hover {
    background-color: rgb(0, 191, 255);
    color: white;
}

input[type=button]:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

h1, h2, p {
    text-align: center;
    margin: 5px;
    padding: 12px;
}

div {
    max-width: 1000px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border-radius: 12px;
    margin: auto;
    display: block;
}